<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Change Password</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
  .change-form {
    width: 340px;
      margin: 50px auto;
  }
    .change-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .change-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
  <div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ message }}</strong> 
</div>
</li>
  {% endfor %}
</ul>
{% endif %}  
 
<div class="change-form">
    <form id="change-password-form" action="/change/password" method="post" role="form" style="display: block;">{% csrf_token %}
        <h2 class="text-center">Change Password</h2>       
        <div class="form-group">
            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
        </div>
        <div class="form-group">
            <input type="password" name="old_password" id="old_password" tabindex="1" class="form-control" placeholder="Old Password" value="" required="required">
        </div>
        <div class="form-group">
           <input type="password" name="new_password" id="new_password" tabindex="2" class="form-control" placeholder="New Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="confirm_password" id="confirm_password" tabindex="2" class="form-control" placeholder="Confirm Password" required="required">
        </div>
        <div class="form-group">
            <input type="submit" name="password-submit" id="password-submit" tabindex="4" class="btn btn-primary btn-block" value="Change Password">
        </div>
        <div class="clearfix">
            <a href="/login" class="active" id="login-form-link">Login here</a>
        </div>        
    </form>
    
</div>
</body>
</html>                                                               